<% provide(:title, t("title.home")) %>
<div class="home">
  <div class="home-container">
    <div class="home-container__category">
      <%= render "category" %>
    </div>
    <div class="home-container__content">
      <%= render "home_content" %>
    </div>
  </div>
</div>
