@import '../../variables';

.list-product-page {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: $background-color;

  &__container {
    width: 100%;
    height: 100%;
    margin-top: 64px;
    display: flex;
    justify-content: center;

  }

  &__content {
    padding: 15px 0;
    height: 100%;
    color: $placeholder-color;
    margin: auto;
    width: 1200px;
    position: relative;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 15px;

    &-left {
      background-color: $menu-background-color;
      border-radius: 5px;
      width: 22%;
    }

    &-right {
      width: 78%;
      padding-bottom: 100px;

      .content-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        .welcome__content {
          align-items: stretch;
          display: flex;
          padding: 10px;
        }

        .welcome__avatar {
          background-color: $white-color;
          border: 1px solid $primary-color;
          border-radius: 50%;
          padding: 10px;
          width: 72px;
          height: 72px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .welcome__member {
          color: $pink-color;
          display: flex;
          flex-direction: column;
          font-size: 18px;
          justify-content: space-between;
          line-height: 18px;
          padding: 3px 10px;

          &-name {
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
          }

          &-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            color: $black-color;
            font-size: 14px;
            gap: 8px;
          }
        }

        .stats-menu {
          width: 100%;
          border-radius: 8px;
          box-shadow: none;
          background-color: $white-color;
          border: 1px solid $gray-color-4;
          border-radius: 10px;
          margin-left: auto;
          margin-right: auto;
          padding: 5px 0;
          position: relative;
          width: 100%;
          z-index: 1;

          &__container {
            width: 100%;
            padding-bottom: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .item-1 {
              border-right: 1px solid $black-color;
            }
          }

          &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 15px;
            width: 100%;
          }

          &__number {
            font-weight: 500;
            font-size: 19;
            margin-bottom: 5px;
          }
        }

        .list-products-group {
          width: 100%;
          margin-top: 15px;

          &__title {
            color: $black-color;
            font-weight: 500;
            font-size: 16px;
          }

          .search-form-group {
            margin-top: 10px;
            width: 400px;
            height: 42px;
            border-radius: 6px;
            background-color: $white-color;
            border: 1px solid $gray-color-4;
            padding: 0.4rem 0.5rem;
            display: flex;
            align-items: center;
            gap: 5px;
            transition: border 0.2s ease-in-out;

            form {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              gap: 8px;
            }

            .icon-search {
              font-size: 24px;
              color: $primary-color;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .input-search {
              flex: 1;
              border: none;
              outline: none;
              font-size: 15px;
              color: $black-color-2;
              background: transparent;

              &::placeholder {
                color: $gray-color-3;
              }
            }

            &:focus-within {
              border-color: $primary-color;
              box-shadow: 0 0 5px rgba($primary-color, 0.3);
            }
          }

          .btn-group {
            margin-top: 15px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .filter-group {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            height: 40px;
            width: 100%;
            gap: 10px;

            .icon-filter {
              height: 100%;
              width: 40px;
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: center;
              background: $white-color;
              border: 1px solid $gray-color-4;
              border-radius: 6px;
            }
          }

          .add_product_btn {
            background: $green-light-color-1;
            border: 1px solid $green-light-color-1;
          }
        }
      }
    }
  }

  .list-product-page__add-product {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background-color-gray;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
    padding-bottom: 10px;

    .add_product-container {
      height: 68vh;
      width: 40vw;
      background: $white-color;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      border-radius: 10px;

      .title-group {
        width: 100%;
        height: 35px;
        background: $primary-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;

        span {
          font-size: 16px;
          color: $white-color;
          font-weight: 500;
        }

        .icon-x {
          color: $white-color;
          cursor: pointer;
        }
      }

      .form-add-product-group {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background: lighten($gray-color-3, 20%);
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: $primary-color;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: darken($primary-color, 10%);
          cursor: pointer;
        }
      }

      .form-add-product-group {
        width: 100%;
        height: 100%;
        padding: 15px 20px;
        position: relative;

        .show-processing-form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 100%;
          margin: auto;
          margin-top: 15px;

          .tracking-step {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .icon {
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              border-radius: 50%;
              @include step-style($gray-color-3, $white-color);
            }

            &.active .icon {
              @include step-style($green-light-color-1, $white-color);
            }

            .text {
              margin-top: 5px;
              font-size: 15px;
              font-weight: 500;
              color: $black-color-2;
            }
          }

          .tracking-line {
            flex-grow: 1;
            height: 4px;
            background-color: $gray-color-3;
            margin: 0 5px;

            &.active {
              background-color: $green-light-color-1;
            }
          }
        }

        .form-input-product-info {
          margin-top: 10px;
          width: 100%;

          textarea {
            height: 100px;
          }
        }

        .btn-submit-group {
          width: 100%;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: center;
           gap: 12px;
           position: absolute;
           bottom: 20px;

           .btn-action {
            text-align: center;
            width: 80px;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
           }

           .cancel-btn {
            background: $gray-color-3;
            color: $white-color;
           }

           .continue-btn {
            background: $primary-color;
            color: $white-color;
           }
        }

        .form-select-categories {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;

          .title-categories-group {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 10px;

            > span {
              font-size: 15px;
              font-weight: 500;
            }
          }

          .subcategories-group {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 10px;

            .subcategories-select-group {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: start;
              gap: 15px;

              .title-subcategoies {
                width: 120px;
              }
            }
          }
        }

        .form-select-attributes {
          margin-top: 15px;
          font-size: 15px;
          font-weight: 500;
          
          .title-attribute {
            margin-top: 10px;
          }
        }

        .form-step {
          display: none;
        }
      }
    }
  }

  .active {
    display: flex;
  }
}
