$primary-color: #D70018;
$second-color: #dc3545;
$primary-gradient-color-1: #f52f32;
$primary-gradient-color-2: #e11b1e;
$blue-gradient-color-1: #3a78d0;
$blue-gradient-color-2: #277cea;
$green-color-1: #4caf50;
$cart-color: #e04040;
$white-color: #fff;
$white-color-2: #f2dede;
$white-color-3: #f5f5f5;
$background-color: #f4f6f8;
$focus-color: rgba(215, 0, 24, 0.1);
$black-color: #333;
$black-color-2: #4a4a4a;
$yellow-color: #ffd700;
$blue-color: #0066cc;
$gray-color-1: #747373;
$gray-color-2: #707070;
$gray-light-color-1: #999;
$gray-light-color-2: #666;
$gray-light-color-3: #e0e0e0;
$gray-light-color-4: #f7f3f3;
$gray-light-color-5: hsla(0, 0%, 100%, .2);
$gray-light-color-6: #f3f4f6;
$gray-light-color-7: #f8f9fa;
$gray-light-color-8: #e9ecef;
$blue-light-color-1: #e8f2ff;
$border-color-gray: #e5e7eb;
$border-color-gray-2: #d1d5db;
$border-color-gray-3: #e5e5e5;
$border-color-gray-4: rgba(145, 158, 171, .239);
$placeholder-color: #444444;
$alert-waring-color: #a94442;
$alert-waring-background: #f2dede;
$box-shadow-color-1: rgba(60, 64, 67, .1);
$box-shadow-color-2: rgba(60, 64, 67, .15);
$box-shadow-color-3: rgba(0, 0, 0, 0.15);
$box-shadow-color-4: rgba(40, 124, 234, .15);

