$primary-color: #D70018;
$white-color: #fff;
$white-color-2: #f2dede;
$focus-color: rgba(215, 0, 24, 0.1);
$black-color: #333;
$gray-light-color-1: #999;
$gray-light-color-2: #666;
$gray-light-color-3: #e0e0e0;
$gray-light-color-5: hsla(0, 0%, 100%, .2);
$placeholder-color: #444444;
$alert-waring-color: #a94442;
$alert-waring-background: #f2dede;

