@import 'bootstrap-sprockets';
@import 'bootstrap';
@import './variables';

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden !important;
    overflow-y: hidden;
}

.alert {
  margin-top: 64px;
  width: 100%;
}

.alert-error {
  color: $alert-waring-color;
  background-color: $alert-waring-background;
}

button {
  border: none;
}
